In [1]:
first="darlsy"
second="lida"

In [4]:
first+ " "+second

'darlsy lida'

In [5]:
first*2

'darlsydarlsy'

In [6]:
second="otieno"

In [9]:
second[0]

'o'

In [13]:
fullname = first+" "+second

In [14]:
fullname[0:6]

'darlsy'

In [15]:
name=input("enter first name")

enter first name cynthia

In [17]:
print(name)

cynthia

In [20]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [7]:

#2,4,6,8,10
for x in range(2,11,2):
    print(x,end=",")

2,4,6,8,10,

In [8]:
for x in range(1,36,4):
    print(x)

1
5
9
13
17
21
25
29
33

enter age 35

/n 8.75

enter age 42

/n 19.25

enter age 45

/n 30.5

enter age 50

/n 43.0

In [15]:
total=0
for x in range(5):
  x=int(input("enter marks"))
total+=x
average=total/5
print('\n',total/5)

enter marks 30
enter marks 45
enter marks 50
enter marks 35
enter marks 55

 11.0

In [20]:
count=0
total=0
while count<4:
    x=int(input("enter age"))
    total +=x
    count +=1
    print(total/count)

enter age 23

23.0

enter age 32

27.5

enter age 25

26.666666666666668

enter age 34

28.5